{% extends 'shop/basic.html' %}

{% block title %}This is contact page {% endblock %}

{% block js %}
<script>
{% if thank %}
alert('thanks for contact us we will get back soon!');
document.location='/shop/contact/';
{% endif %}
</script>
{% endblock %}

{% block body %}
<div class="container my-2">
    <h2>Contact ME</h2>
    <form action="/shop/contact/" enctype="multipart/form-data" method="POST">
        {% csrf_token %} 
        <div class="form-group">
            <label for="exampleFormControlInput1">Enter Name</label>
            <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name">
          </div>
          
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
       
        <div class="form-group">
          <label for="exampleFormControlInput1">Enter Phone Number</label>
          <input type="tel" name="phone" class="form-control" id="exampleFormControlInput1" placeholder="Enter Phone Number">
        </div>
       

        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Enter your query</label>
          <textarea class="form-control" name="query" id="exampleFormControlTextarea1" rows="3" placeholder="How can i hep you"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

      </form>

    </div>

      {% endblock %}
