<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment merchant payment</title>
</head>
<body>
    <h1>Redirect you to merchenct....</h1>
    <h1>Please do no restore ...f</h1>
    <form method="post" action="https://securegw-stage.paytm.in/theia/processTransaction" name="paytm">
        <table border="1">
        {% for key,value in param_dict.items %}
        <input type="hidden" name="{{key}}" value="{{value}}">
        {% endfor %}<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Paytm merchant payment page</title>
        </head>
        <body>
        <h1>Redirecting you to the merchant....</h1>
        <h1>Please do not refresh your page....</h1>
        <form action="https://securegw-stage.paytm.in/theia/processTransaction" method="post" name="paytm">
            {% for key, value in param_dict.items %}
            <input type="hidden" name="{{key}}" value="{{value}}">
            {% endfor %}
        
        </form>
        </body>
        <script>
        document.paytm.submit()
        </script>
        </html>
        
    </form>
</body>
<script>
    document.paytm.submit()
</script>
</html>